* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #007bff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: white;
}

header .logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffdd57;
}

main {
    padding: 30px 50px;
}

.content-section {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    flex-wrap: wrap;
}

.content-section.left .section-img {
    order: -1; /* Move image to the left */
}

.content-section.right .section-img {
    order: 1; /* Move image to the right */
}

.section-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.section-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
    color: #007bff;
    text-align: center;
}

section p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #555;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

footer p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 1024px) {
    .content-section {
        flex-direction: column;
        text-align: center;
    }

    .section-img {
        margin-bottom: 20px;
    }

    .section-img img {
        width: 100%;
        height: auto;
        border: none;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    header .logo img {
        width: 120px;
    }

    section h2 {
        font-size: 1.8em;
    }

    section p {
        font-size: 1em;
    }
}
